BasedOnStyle: LLVM
IndentWidth: 4
ObjCBlockIndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 120
SpacesBeforeTrailingComments: 2
AlignAfterOpenBracket: true
